<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h2>Courses</h2>
        <a href="/courses/add" class="btn btn-success btn-lg custom-btn">Add New Course</a>
    </div>
    {{#if courses.length}}
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td><a href="/course/{{this.courseId}}">{{this.courseCode}}</a></td>
                <td><a href="/students?course={{this.courseId}}">{{this.courseDescription}}</a></td>
                <td><a href="/course/delete/{{this.courseId}}" class="btn btn-danger">Remove</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <br>
    <p style="text-align: center;">No courses available</p>
    {{/if}}
</div>